@using BloodDanationSystem.Common
@{ this.ViewData["Title"] = "Home Page"; }


@if (this.User.IsInRole(BloodDanationSystem.Common.GlobalConstants.AdministratorRoleName))
{
<div class="row">
        <div class="card-home col-md-4">
            <div class="card-body-addArticle">
                <a href="/Administration/Information/CreateArticle" class="btn btn-info">Добави статия</a>
            </div>
        </div>
        <div class="card-home col-md-4">
            <div class="card-body-addBloodCenteres">
                <a href="/Administration/Information/AddBloodCenter" class="btn btn-info">Добави кръвен център</a>
            </div>
        </div>
    </div>
}
else
{
<div class="slider_area slider_bg_1 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="single_slider">
                    <div class="slider_text">
                        <h3>
                            Спаси човешки живот
                        </h3>
                        <p>
                            Всяка подкрепа е важна
                        </p>
                        <a href="/Identity/Account/Register" class="boxed-btn2">Включи се сега</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>}
