@using BloodDanationSystem.Common

<div class="header-area">
    <div id="sticky-header" class="main-header-area">
        <div class="container-fluid p-0">
            <div class="row align-items-center justify-content-between no-gutters">
                <div class="col-xl-1 col-lg-1">
                    <div class="logo-img">
                        <a href="/">
                            <img src="~/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8">
                    <div class="main-menu d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li><a href="/Informations/About">За нас</a></li>
                                <li>
                                    <a href="/">Полезна информация<i class="ti-angle-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="/Informations/ArticleQA">Въпроси и отговори</a></li>
                                        <li><a href="/Informations/ArticleTests">Изследвания</a></li>
                                        <li><a href="/Informations/BloodCenters">Кръвни центрове</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/">Кърводаряване<i class="ti-angle-down"></i></a>
                                    <ul class="submenu">
                                        @if (this.User.IsInRole(GlobalConstants.DonorRoleName) && this.User.IsInRole(GlobalConstants.PatientRoleName))
                                        {
                                            <li><a href="/Patients/FindDonor">Намери кръводарител</a></li>
                                            <li><a href="/Donors/FindPatient">Намери нуждаещ се</a></li>
                                            <li><a href="/Patients/MyDonors">Вземи снимка</a></li>
                                            <li><a href="/Donors/MyPatients">Качи снимка</a></li>
                                        }
                                        else if (this.User.IsInRole(GlobalConstants.PatientRoleName))
                                        {
                                            <li><a href="/Users/BecomeDonor">Стани Кръводарител</a></li>
                                            <li><a href="/Patients/FindDonor">Намери кръводарител</a></li>
                                            <li><a href="/Patients/MyDonors">Вземи снимка</a></li>
                                        }
                                        else if (this.User.IsInRole(GlobalConstants.DonorRoleName))
                                        {
                                            <li><a href="/Users/BecomePatient">Регистрирай нужда от кръв</a></li>
                                            <li><a href="/Donors/FindPatient">Намери нуждаещ се</a></li>
                                            <li><a href="/Donors/MyPatients">Качи снимка</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="/Users/BecomeDonor">Стани Кръводарител</a></li>
                                            <li><a href="/Users/BecomePatient">Регистрирай нужда от кръв</a></li>
                                        }
                                    </ul>
                                </li>
                                <li><a href="/Informations/Contact">Контакти</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="main-menu d-none d-lg-block">
                    <div class="col-xl-1 col-lg-1">
                        <nav>
                            <ul id="navigation">
                                <li>
                                    <a href="#">Hello,@this.User.Identity.Name<i class="ti-angle-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="/Identity/Account/Manage">Промени данни</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1 d-none d-lg-block">
                    <div class="donate_now">
                        <a href="/Identity/Account/Logout" class="boxed-btn">Изход</a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
</div>