@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

@if (this.Model.ShowRequestId)
{
    <h3>Error!</h3>
    <p>
        <strong>Request ID:</strong> <code>@this.Model.RequestId</code>
    </p>
}