@model BloodDonationSystem.Web.InputModels.Informations.CreateArticleInputModel;
@{ ViewData["Title"] = "Donor";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<hr />
<div class="login-form">
    <h1>Create Article</h1>
    <form asp-action="CreateArticle" method="post">
        <div asp-validation-summary="All" class="text-warning"></div>
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content"></label>
            <input asp-for="Content" class="form-control" />
            <span asp-validation-for="Content" class="text-warning"></span>
        </div>
        <div class="form-group col-md-6 offset-3">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </form>
</div>
