@model BloodDanationSystem.Web.ViewModels.Administration.Information.DetailsViewModel;
@{
    ViewData["Title"] = "Reply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="email-details">
    <div class="col-lg-8">
        <form action="Reply">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <textarea class="form-control w-100" name="message" asp-for="Message" readonly cols="30" rows="9"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <textarea class="form-control w-100" name="answer" asp-for="Answer" cols="30" rows="9"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control valid" readonly name="name" asp-for="Name" type="text">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control valid" readonly name="email" asp-for="Email" type="email">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <input class="form-control" name="subject" readonly asp-for="Subject" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <button asp-action="Details" class="button button-contactForm boxed-btn">Back</button>
                <button asp-action="Reply" class="button button-contactForm boxed-btn">Send</button>
            </div>
        </form>
    </div>
</div>
