@using BloodDanationSystem.Data.Models.Enums;
@model BloodDonationSystem.Web.InputModels.Patients.PatientsCreateInputModel;

@{
    ViewData["Title"] = "BecomePatient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />
<div class="patient-form">
    <h1>Become Patient</h1>
    <form asp-action="BecomePatient" method="post">
        <div asp-validation-summary="All" class="text-warning"></div>
        <div class="form-group">
            <label asp-for="FullName" class="control-label"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age" class="control-label"></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="BloodType.ABOGroupName" class="control-label"></label>
            <select asp-for="BloodType.ABOGroupName" class="form-control" asp-items="Html.GetEnumSelectList<ABOGroup>()"></select>
            <action selected=""></action>
        </div>
        <div class="form-group">
            <label asp-for="BloodType.RhesusFactor" class="control-label"></label>
            <select asp-for="BloodType.RhesusFactor" class="form-control" asp-items="Html.GetEnumSelectList<RhesusFactor>()"></select>
            <action selected=""></action>
        </div>
        <div class="form-group">
            <label asp-for="CityId" class="control-label"></label>
            <select asp-for="CityId" class="form-control" asp-items="@(new SelectList(Model.Cities,"Id","Name"))"><option value="0">Избери град</option></select>
            <action selected=""></action>
        </div>
        <div>
            <label asp-for="HospitalId" class="control-label"></label>
            <select asp-for="HospitalId" class="form-control" id="hospitalId" name="hospitalId" asp-items="@(new SelectList(string.Empty,"Id","Name"))"></select>
            <action selected=""></action>
        </div>
        <div>
            <label asp-for="Ward" class="control-label"></label>
            <input asp-for="Ward" class="form-control" />
            <span asp-validation-for="Ward" class="text-warning"></span>
        </div>
        <div>
            <label asp-for="NeededBloodBanks" class="control-label"></label>
            <input asp-for="NeededBloodBanks" class="form-control" min="1" placeholder="1" />
            <span asp-validation-for="NeededBloodBanks" class="text-warning"></span>
        </div>
        <div class="form-group col-md-8 offset-2">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var items = "<option value='0'>Избери лечебно заведение</option>";
        $('#hospitalId').html(items);
    });
</script>
<script type="text/javascript">
    $(document).change(function () {
        var url = '@Url.Content("~/")' + "Users/GetHospitals";
        var ddlSource = "#CityId";
        $.getJSON(url, { CityId: $(ddlSource).val() }, function (data) {
            var items = '';
            $("#hospitalId").empty();
            $.each(data, function (i, hospital) {
                items += "<option value='" + hospital.value + "'>" + hospital.text + "</opiton>";
            });
            $('#hospitalId').html(items);
        });
    });
</script>