@using BloodDanationSystem.Data.Models.Enums;
@model BloodDonationSystem.Web.InputModels.Donors.DonorsCreateInputModel;

@{
    ViewData["Title"] = "Donor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="login-form">
    <h1>Become a donor</h1>
    <form asp-action="BecomeDonor" method="post">
        <div asp-validation-summary="All" class="text-warning"></div>
        <div class="form-group">
            <label asp-for="FullName"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age"></label>
            <input asp-for="Age" min="18" max="65" class="form-control" placeholder="18" />
            <span asp-validation-for="Age" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="CityId" class="control-label"></label>
            <select asp-for="CityId" class="form-control" asp-items="@(new SelectList(Model.Cities,"Id","Name"))">
            </select>
            <action selected=""></action>
        </div>
        <div class="form-group">
            <label asp-for="BloodType.ABOGroupName" class="control-label"></label>
            <select asp-for="BloodType.ABOGroupName" class="form-control" asp-items="Html.GetEnumSelectList<ABOGroup>()"></select>
            <action selected=""></action>
        </div>
        <div class="form-group">
            <label asp-for="BloodType.RhesusFactor" class="control-label"></label>
            <select asp-for="BloodType.RhesusFactor" class="form-control" asp-items="Html.GetEnumSelectList<RhesusFactor>()"></select>
            <action selected=""></action>
        </div>
        <div class="form-group col-md-6 offset-3">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}