@model BloodDonationSystem.Web.InputModels.DonorsPatients.ImageInputModel;
@{
    ViewData["Title"] = "MyPatients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (this.ViewData["Photo"] != null)
{
        <center>
            <img src=@this.ViewData["Photo"]>
        </center>
}
else
{
    <div class="container py-5">
        <header class="text-white text-center">
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1564991372/image_pxlho1.svg" alt="" width="150" class="mb-4">
        </header>


        <div class="row py-4">
            <div class="col-lg-6 mx-auto">
                <form enctype="multipart/form-data" asp-action="MyPatients" asp-controller="Donors" method="post" onsubmit="AJAXSubmit(this);return false;">
                    <!-- Upload image input-->
                    <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                        <input asp-for="Image" id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                        <label id="upload-label" asp-for="Image" class="font-weight-light text-muted">Choose file</label>
                        <span asp-validation-for="Image"></span>
                        <div class="input-group-append">
                            <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                        </div>
                    </div>

                    <!-- Uploaded image area-->
                    <div class="image-area mt-4">
                        <img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                    </div>
                    <input class="btn btn-danger" type="submit" value="Upload" />
                </form>
            </div>
        </div>
    </div>
}

<script>
    async function AJAXSubmit(oFormElement) {
        var resultElement = oFormElement.elements.namedItem("result");
        const formData = new FormData(oFormElement);

        try {
            const response = await fetch(oFormElement.action, {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                window.location.href = '/';
            }

            resultElement.value = 'Result: ' + response.status + ' ' +
                response.statusText;
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>
